.iconTemplate_zan {
  width: 154px;
  height: 154px;
  svg {
    width: 100%;
    height: 100%;
  }
  margin-bottom: 80px;
}

.iconTemplate_zan_kuang {
  width: 154px;
  height: 184px;
  svg {
    width: 100%;
    height: 100%;
  }
  margin-bottom: 40px;
}

.iconTemplate_shape {
  width: 313px;
  height: 84px;
  img {
    width: 100%;
    height: 100%;
  }
  margin-bottom: 40px;
}

.iconTemplate_upload {
  width: 149px;
  height: 33px;
  margin-bottom: 40px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.iconTemplate_uploadGui {
  width: 172px;
  height: 272px;
  border-radius: 1px;
  margin-bottom: 40px;
  border: 1px solid #e5e5e5;
  img {
    width: 100%;
    height: 100%;
  }
}

.iconTemplate_named{
  margin-bottom: 80px;
}