@import '../../../../../styles/common.module.scss';
.mainColor_box {
  width: 300px;
  height: 180px;
  margin-bottom: 80px;
  font-family: OpenSans;
  &_top {
    height: 120px;
    background:  #C00000;
    border-radius: 3px 3px 0px 0px;
    color: $colorff;
    padding: 14px;
    &_color {
      margin-bottom: 8px;
    }
  }
  &_bottom {
    height: 60px;
    display: flex;
    &_item {
      flex: 1;
      color: $colorff;
      font-size: 12px;
      text-align: center;
      line-height: $lh60;
      background: #C00000;
    }
    &_item0 {
      opacity: 0.8;
      border-radius: 0px 0px 0px 3px;
    }
    &_item1 {
      opacity: 0.7;
    }
    &_item2 {
      opacity: 0.5;
    }
    &_item3 {
      opacity: 0.3;
    }
    &_item4 {
      background-color: rgba(192, 0, 0,0.1);
      color: $color64;
      border-radius: 0px 0px 3px 0px;
    }
  }
}
