// 全局样式 边框 uploadFile
.repeat {
  width: 12px;
  height: 14px;
}

// 全局样式 按钮 payNow
.btnBox {
  width: 117px;
  height: 38px;
}

// 全局样式 按钮 视频按钮
.btn_video {
  width: 94px;
  height: 32px;
}
.navigation_steps_item {
  width: 56px;
  height: 56px;
}

.box_item_87 {
  width: 87px;
  height: 87px;
}
.box_item_66 {
  width: 66px;
  height: 56px;
}
.box_item_44 {
  width: 44px;
  height: 37px;
}

.box_item_42 {
  width: 42px;
  height: 35px;
}
