// 全局样式 边框 uploadFile
.repeat{
  width: 12px;
  height: 14px;
}

// 全局样式 按钮 payNow
.btnBox{
  width: 117px;
  height: 38px;
}

// 全局样式 按钮 视频按钮
.btn_video{
  width: 94px;
  height: 32px;
}
.navigation_steps_item{
  width: 56px;
  height: 56px;
}
