.divider_box, .divider_box1{
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #646466;
  background: #e5e5e5;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 80px;
}
.divider_box1{
  border: 1px solid #E5E5E5;
}
