$font26: 26px; //设置页面标题大小
$font20: 20px; //设置小标题
$font16: 16px; //设置二级小标题
$font14: 14px; //设置文本字体大小

$color19: #19191a; // 页面标题或者普通标题颜色
$color64: #646466; // 设置普通文本
$colore5: #e5e5e5; // 设置普通文本
$colorc0: #c00000;
$colorcc: #cccccc;
$colorff: #ffffff;
$colorf7: #f7f7f7;
$colorf2: #f2f2f2;



$mg20: 20px;
$mg40: 40px;
$mg60: 60px;
$mg80: 80px;

$lh16: 16px;
$lh20: 20px;
$lh24: 24px;
$lh26: 26px;
$lh30: 30px;
$lh34: 34px;
$lh36: 36px;
$lh60: 60px;

