@import './reset.css';

#app {
  min-width: 1200px;
  width: 100vw;
  height: 100vh;
}
.ant-layout-slider{
  /* background-color: #f7f7f7 !important; */
}

.page-content {
  margin: 12px;
  padding: 16px;
  background: #fff;
}

/*  override antd left sider */
.ant-menu,
.ant-menu-submenu>.ant-menu {
  background: #f7f7f7 !important;
  color: #19191A;
}

.ant-menu-item .ant-menu-item-only-child {
  height: 24px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title span {
  color: #646466;
  padding-left: 10px;

}

.ant-menu-submenu-title{
  height: 24px !important;
}
.ant-menu-title-content {
  display: flex;
  align-items: center;
  width: 320px !important;
  height: 24px ;
}

.ant-menu-item-selected>.ant-menu-title-content {
  background-color: #FFF;
  margin-right: -20px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  margin-left: -5px;
  /* position: relative; */
  /* padding: 11px 0; */
  /* box-sizing: border-box; */
  /* z-index: 999; */
}

.ant-menu-item-selected>.ant-menu-title-content>a {
  padding-left: 5px;
}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content span {
  color: #19191A;
  padding-left: 15px;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
  position: relative;
  height: 46px !important;
}

.ant-layout-footer {
  background-color: #fff !important;
  margin-top: 20px;
  padding: 0;
}
.ant-layout-sider{
  background-color: #f7f7f7 !important;
}

.ant-menu-inline .ant-menu-item:first-child{
  margin-top: 12px !important;
}
.ant-menu-inline .ant-menu-item{
  margin: 0 !important;
  /* margin-bottom: 11px !important;  */
}
.ant-menu-inline .ant-menu-item:last-child{
  margin-bottom: 30px !important;
}

.ant-menu-item-selected .ant-menu-title-content{
  height: 46px !important;
}
