.main_left_slider {
  // box-shadow: 0 2px 6px 4px rgba(26, 37, 51, 0.31);
  width: 360px;
  .main_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    background-color: #f7f7f7;
    color: #19191A;
    font-size: 14px;
    padding: 40px 52px 0px 40px;
    img {
      width: 76px;
      height: 36px;
    }
    .app_name {
      vertical-align: text-bottom;
      font-size: 20px;
      font-weight: 400;
      text-overflow: clip;
      white-space: nowrap;
      background-image: -webkit-linear-gradient(bottom, #13e367, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .main_menu {
    height: calc(100% - 64px);
    overflow: auto;
    margin-top: 2px;
  }

  .ant-menu-submenu-title,
  .ant-menu-item {
    // color: #ecf5ff;
    z-index: 0;
  }

  .ant-menu-submenu-title::before,
  .ant-menu-item::before {
    content: '';
    width: 0;
    height: 100%;
    display: block;
    //background: rgba(82, 204, 78, 0.3);
    background: rgba(24, 144, 255, 0.5);
    box-shadow: 0 0 175px 0 rgba(24, 144, 255, 1);
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.6s;
  }

  // .ant-menu-submenu-title:hover::before,
  // .ant-menu-item:hover::before {
  //   width: 100%;
  // }

  .ant-menu-submenu-title,
  .ant-menu-item {
    &:hover {
      color: #19191A;
      &::before {
        width: 100%;
      }
    }
    > a {
      &:hover {
        color: #19191A;
      }
    }
  }
}
.main_logo_line {
  position: relative;
}

.main_logo_line::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  border-right: 1px solid #979797;
  right: -20px;
  top: 10px;
}

.main_left_title {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 24px;
  margin-left: 40px;
}

:global(.ant-layout-sider) {
  flex: 0 0 360px !important;
  max-width: 360px;
  min-width: 360px !important;
  width: 360px;
}

.menuItem{
  height: 46px !important; 
}