@import "../../../../../styles/common.module.scss";
.combing {
  position: relative;
  width: 594px;
  :last-child {
    position: absolute;
    bottom: 20px;
    font-size: $font16;
    font-family: OpenSans-Semibold, OpenSans;
    font-weight: 600;
    color: $colorff;
    line-height: $lh24;
    width: 100%;
    text-align: center;
  }
}
