@import '../../../../../styles/common.module.scss';
.application_box {
  display: flex;
  align-items: center;
  > div:first-child {
    width: 117px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #19191a;
    border-radius: 19px;
    border: 1px solid #89898c;
    font-size: 14px;
    font-family: OpenSans;
  }
  > div:nth-child(2) {
    width: 117px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #19191a;
    border-radius: 3px;
    border: 1px solid #4b4b4d;
    font-size: 14px;
    font-family: OpenSans;
    margin: 0 40px;
  }
  > div:last-child {
    width: 66px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #4b4b4d;
    font-size: 13px;
    color: $color19;
    font-family: OpenSans;
  }
}

.applicable_box {
  width: 600px;
  &_left {
    display: flex;
    flex-direction: column;
    &_content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      > span:first-child {
        height: $lh20;
        line-height: $lh20;
        font-size: 13px;
        font-family: OpenSans;
        color: $color19;
      }
    }
    &_textArea {
      width: 600px;
      height: 110px;
      TextArea {
        height: 100%;
      }
      &_placeholderStyle {
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        font-family: OpenSans;
        color: #89898c;
      }
    }
  }
}

.svgClass {
  width: 12px;
  height: 14px;
}

.placerHolderStyle {
  height: $lh20;
  line-height: $lh20;
  color: $color19;
  font-size: 13px;
  font-family: OpenSans;
}

.card_box {
  height: 333px;
  width: 228px;
  background: #ffffff;
  box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 188px;
  }
  &_text {
    height: 26px;
    line-height: 26px;
    color: #19191a;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    margin-bottom: $mg20;
  }
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_type {
    height: 24px;
    line-height: 24px;
    color: #19191a;
    font-size: 16px;
    font-family: OpenSans-Semibold, OpenSans;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  &_money {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &_money span:first-child {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: #19191a;
    font-size: 16px;
    font-family: OpenSans-Semibold, OpenSans;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &_money span:last-child {
    height: 20px;
    font-size: 13px;
    font-family: OpenSans;
    color: #89898c;
    line-height: 20px;
  }
}
