.base{
  margin-right: 50px;
}
.base_box {
  &_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 122px;
    height: 38px;
    padding: 8px 12px;
    border-radius: 2px;
    border: 1px solid #89898c;
    :first-child {
      line-height: 22px;
      font-size: 14px;
      font-family: OpenSans;
      color: #19191a;
    }
    i {
      font-size: 12px;
      color: #4b4b4d;
    }
  }
  &_content {
    width: 260px;
    height: 205px;
    margin-top: 4px;
    padding: 12px 0px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    &_item {
      height: 36px;
      padding: 8px 11px;
      display: flex;
      align-items: center;
    }
    &_item:first-child {
      background: #f7f7f7;
    }
    &_circle {
      width: 14px;
      height: 14px;
      border: 1px solid #4b4b4d;
      border-radius: 50%;
      margin-right: 8px;
      position: relative;
    }
    &_bg {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
    }
    &_text {
      font-size: 13px;
      font-family: OpenSans;
      color: #646466;
      line-height: 20px;
    }
    &_extra {
      color: #19191a;
    }
  }
}
