.pagination {
  display: flex;
  margin-bottom: 40px;
}
.paginationLeft {
  width: 294px;
  height: 68px;
  padding: 20px;
  background: #ffffff;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  &_box {
    display: flex;
  }
  &_item {
    line-height: 18px;
    font-size: 12px;
    font-family: OpenSans;
    color: #89898c;
    margin-right: 20px;
    &_five {
      margin-right: 12px;
    }
    &_decoration {
      text-decoration: underline;
    }
    &_default {
      color: #19191a;
      text-decoration: none;
    }
    &_hover {
      color: #19191a;
    }
  }
}
.paginationLeft_rightArrow,
.paginationLeft_leftArrow {
  width: 28px;
  height: 28px;
  background: #ffffff;
  margin-right: 20px;
  svg {
    width: 100%;
    height: 100%;
  }
}


.paginationRight {
  width: 294px;
  height: 68px;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  &_box {
    display: flex;
  }
  &_item {
    line-height: 18px;
    font-size: 12px;
    font-family: OpenSans;
    color: #89898c;
    margin-right: 20px;
    &_five {
      margin-right: 12px;
    }
    &_decoration {
      text-decoration: underline;
    }
  }
}
.paginationRight_rightArrow,
.paginationRight_leftArrow {
  width: 28px;
  height: 28px;
  margin-right: 20px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.paginationLeft_rightArrow,
.paginationRight_rightArrow  {
  margin-right: 0;
}